body {
	background-color: #1a75ff;
	font-family: "Courier new"; /* font-family: 'Comfortaa'; */
	width: 100%;
	white-space: normal;
}

table {
	margin: auto;
}

#adding_25_container {
	font-family: "Courier new";
	color: #0066ff;
}

#welcome {
	font-size: 32px;
	width: 95%;
	background-color: white;
}

html{
	scroll-behavior: smooth;
	position: relative;
}

input {
	font-size: 32px;
	width: auto;
	flex-wrap: wrap;
}

input::-webkit-input-placeholder {
    font-size: 48px;
    font-family: "Courier new";
    width: auto;
    flex-wrap: wrap;
}

.image-enlargen {
	width: 350px;
	height: auto;
}

.input_style {
	width: 600px;
	height: 200px;
	text-align: center;
	background-color: white;
	padding: 30px;
	font-family: "Courier new";
	margin: auto;
	font-size: 25px;
	color: #0066ff;
	font-weight: bold;
	border: black solid 5px;
	transition: border, 0.2s;
}

.input_style:active {
	color: white;
	background-color: black;
	border: white solid 5px;
}

.input_style:hover {
	border: red solid 10px;
}

#info_container {
	text-decoration: none;
	width: auto;
	font-size: 27px;
	text-align: center;
	background-color: white;
	padding: 50px;
	margin: auto;
}

.colon {
	color: #0099ff;
}

.categories {
	font-size: 27px;
	text-align: center;
} 

.ideal {
	color: grey;
}

.info_output {
	word-wrap: break-word;
	text-align: center;
	color: #0080ff;
	width: auto;
}

.site-info {
	background-color: white;
	padding: 10px;
	width: 95%;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}


.important-red {
	color: red;
}

#support {
	padding: 20px;
	display: inline-block;
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}

.text_box {
	text-align: center;
	margin: auto;
	display: inline-block;
	border: white solid 7px;
	transition: border, 0.2s;
}

.text_box:hover {
	border: red solid 10px;
}

.text_box:active {
	border: red solid 10px;
}

.buttons-style {
	background-color: white;
	padding: 25px;
	width: 400px;
	height: 200px;
	margin: auto;
	border: solid 10px black;
	font-family: "Courier new";
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: blue;
	transition: color, font-size, 0.2s;
}

.buttons-style:hover {
	font-size: 41px;
	color: #0080ff;
}

.buttons-style:active {
	color:red;
}


.bottom-images {
	width: 300px;
	height: auto;
	transition: 0.2s;
}

.bottom-images:hover {
	width: 220px;
	height: auto;
	margin: auto;
}

.headings {
	text-align: center;
	font-size: 32px;
}

.general_text {
	font-size: 25px;
	text-align: center;
	margin: auto;
	width: 90%;
	font-weight: bold;
	text-decoration: none;
}

.general_background {
	margin: auto;
	background-color: white;
	width: 100%;
	padding: 5px;
}

#cao-link {
	color: #0080ff;
	text-decoration: none;
	transition: font-size, color, 0.2s;
}

#cao-link:hover {
	font-size: 56px;
	color:blue;
}
